.button {
  color: #fff;
  background: rgb(88, 12, 123);
  padding: 0.7em 1.5em;
  outline: none;
}

.flex {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}

.column {
  flex-direction: column;
}

.card {
  width: 100%;
  height: 500px;
  cursor: pointer;
}
